@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Admin Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Job Postings</h2>
        <p>
            Manage job postings.
        </p>
        <p>@Html.ActionLink("View Jobs", "Index", "JobPostings", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            Manage users.
        </p>
        <p>@Html.ActionLink("View Users", "AdminIndex", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
    </div>

</div>
