@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h2>@ViewBag.Message</h2>

<address>
    Johnson County Community College<br />
    12345 College Blvd<br />
    Overland Park, KS 66210<br />
    <abbr title="Phone">P:</abbr>
    (913) 469-8500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:careerservices@jccc.edu">careerservices@jccc.edu</a><br />
</address>