@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HireMe</h1>
    <p class="lead">Welcome to the job posting board of Johnson County Community College</p>
    <p>@Html.ActionLink("View Jobs", "Index", "JobPostings", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Career Development Center</h2>
        <p>
            We will help you with skills for lifelong career success. Trained staff and counselors are available to assist credit students
            and alumni with college major and career decisions. We will also assist you with the job search process through job listings, 
            internship assistance, mock interviews, resume critiques, and more..
        </p>
        <p><a class="btn btn-default" href="http://www.jccc.edu/student-resources/counseling/career/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Job Shadowing Opportunities</h2>
        <p>The JCCC Job Shadowing program is an opportunity for you to gain first-hand, real-world knowledge of a possible career path by engaging 
            in career exploration. Participating in the program provides an opportunity to learn from our faculty in your academic area of interest, go 
            on a job shadowing visit to a local employer, and create an action plan with a career counselor.</p>
        <p><a class="btn btn-default" href="http://www.jccc.edu/student-resources/counseling/career/job-shadow.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Internships</h2>
        <p>Participating in an internship is an important experience to complement the learning you do in the classroom.</p>
        <p><a class="btn btn-default" href="http://www.jccc.edu/student-resources/counseling/career/student-internships.html">Learn more &raquo;</a></p>
    </div>
</div>
